<h1>Cocktail List</h1>
<br>
<br>

<div class="container">
<% @cocktails.each do |c| %>
  <div class="card">
    <p><%= link_to c.name, cocktail_path(c), class: "link" %></p>
    <div class="card-images">
      <i class="fas fa-cocktail"></i>
      <% if c.photo.attached? %>
        <%= cl_image_tag c.photo.key, height: 100, width: 100, crop: :fill, class: "thumbnail" %>
      <% end %>
      <i class="fas fa-cocktail"></i>
    </div>
  </div>
<% end %>
</div>
<br>
<div id="bottom-bar">
<%= link_to 'Create New Cocktail', new_cocktail_path, class: "btn btn-primary", id: "create-btn" %>
</div>
